<nav class="navbar navbar-light bg-faded pull-right">
  <ul class="nav navbar-nav">
    <%= link_to "Channels", channels_path, class: "nav-item nav-link" %>
    <% if session[:user] %>
      <%= link_to "Logout", logout_path, method: :delete, class: "nav-item nav-link pull-xs-right" %>
    <% else %>
      <%= link_to "Login", login_path, class: "nav-item nav-link pull-xs-right" %>
    <% end %>
    <%= link_to "Sign up", signup_path, class: "nav-item nav-link pull-xs-right" %>
  </ul>
</nav>