<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
    <%= link_to "Channels", channels_path, class: "nav-item nav-link" %>
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Pricing</a>
    <a class="nav-item nav-link" href="#">About</a>
  </div>
</nav>